body {
  margin-top: 60px;
  margin-bottom: 60px;
}

p {
  margin-bottom: 0px;
}

.jumbotron {
  height: 200px;
}

.btn {
  border-radius: 0px;
}

.col-md-8 {
  height: 145px;
}

.btn-danger {
  width: 83px;
  padding-left: 10px;
  padding-right: 10px;
}

#result-count {
  font-size: 36px;
  color: #2196F3;
  position: relative;
}

.panel {
  border-radius: 0px;
}

.panel-title {
  font-size: 24px;
}

.panel-heading {
  height: 60px;
  background-color: #f9f9f9;
  border-width: 1px;
}

.panel-body {
  color: #262626;
}

#map {
  width:80%; 
  height:50%; 
  display:inline-block;
  text-align:left;
}
